useDynLib(InteractionSet, .registration=TRUE, .fixes="cxx_")

# Exporting the InteractionSet class.
exportClasses(
    InteractionSet, 
    ContactMatrix
)

exportMethods(
    anchors, regions, InteractionSet,
    "anchors<-", "regions<-",
    pairdist, intrachr,
    linearize,
    ContactMatrix 
)

# Requires several imports.
import(GenomicRanges, SummarizedExperiment, methods,
     S4Vectors, IRanges, GenomeInfoDb)

