useDynLib(InteractionSet, .registration=TRUE, .fixes="cxx_")

# Exporting the InteractionSet class.
exportClasses(
    InteractionSet, 
    ContactMatrix
)

exportMethods(
    GInteractions,
    anchors, regions, 
    "anchors<-", "regions<-", "replaceRegions<-",  "appendRegions<-",
    InteractionSet, 
    interactions,
    "interactions<-",
    pairdist, intrachr,
    linearize,
    ContactMatrix, 
    "as.matrix<-",
    inflate, deflate
)

# Requires several imports.
import(GenomicRanges, SummarizedExperiment, methods,
     S4Vectors, IRanges, GenomeInfoDb, BiocGenerics)

