useDynLib(InteractionSet, .registration=TRUE, .fixes="cxx_")

# Exporting the InteractionSet class.
exportClasses(
    InteractionSet, 
    ContactMatrix
)

exportMethods(
    GInteractions,
    anchors, regions, 
    "anchors<-", "regions<-", "newRegions<-",
    InteractionSet, 
    interactions,
    "interactions<-",
    pairdist, intrachr,
    linearize,
    ContactMatrix, inflate, deflate
)

# Requires several imports.
import(GenomicRanges, SummarizedExperiment, methods,
     S4Vectors, IRanges, GenomeInfoDb)

